.button {
  display: inline-block;
  padding: 6px 18px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  color: #51279b;
}

/*https://www.w3schools.com/howto/howto_css_center_website.asp*/
body {
  max-width: 980px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/*Header styling*/
header {
  background-size: cover;
  background-image: url(../florence.jpg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
}

nav {
  background-image: url(../logo.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  padding-left: 70px;
  padding-top: 8px;
}

#welcome {
  padding-left: 85px; /* Aligned with nav*/
  padding-top: 85px;
}

h1 {
  font-size: 48px;
}

div#welcome p {
  font-size: 24px;
}

h1,
div#welcome p {
  color: #ffffff;
}

li {
  float: left;
}

/*Main styling*/
main {
  background-color: lavender;
}
div#cards ul li {
  padding-top: 15px;
  padding-left: 3px;
  padding-right: 3px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

header nav a {
  display: inline-block;
  color: #51279b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  color: #8662c7;
}
