body {
  background-image: url(../florence.jpg);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

li {
  float: left;
}

li img {
  size: 60px;
}

li a {
  display: block;
  color: #51279b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #8662c7;
}
