/*https://www.w3schools.com/howto/howto_css_center_website.asp*/
body {
  max-width: 989px; /*Fits all 3 cards*/
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-size: cover;
  background-image: url(../1-large.jpg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
}

footer {
  display: inline-block;
  background-color: white;
  color: #51279b;
  width: 100%;
  margin: 0px;
}

footer a,
footer p {
  color: #51279b;
  margin: 0;
  padding: 0px 5px 20px 5px;
  text-decoration: none;
}

nav {
  background-image: url(../logo.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  padding: 8px 70px;
}

header nav a {
  display: inline-block;
  color: #51279b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover,
footer a:hover {
  color: #8662c7;
}

main {
  background-color: lavender;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#info {
  color: #51279b;
  background-color: white;
  border-radius: 5px;
  margin: 1rem 0.5rem 1rem 1rem;
  padding: 1rem;
}

h1 {
  text-transform: uppercase;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0;
}

h2 {
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  padding: 0;
  font-weight: lighter;
  font-size: smaller;
}

main div p {
  margin: 0.5rem;
}

#map {
  margin: 1rem 1rem 1rem 0.5rem;
}

#map img {
  border-radius: 5px;
}

.icons {
  padding: 0;
  margin: 0.5rem;
}

.icons div {
  display: inline-block;
  font-size: 10px;
}

div[class$="likes"] {
  background-image: url(../heart.png);
  background-size: 20px;
  width: 40px;
  padding: 0px;
  margin: 5px;
  background-repeat: no-repeat;
  background-position: left;
  text-align: right;
}

div[class$="comments"] {
  background-image: url(../comment.png);
  background-size: 20px;
  width: 40px;
  padding: 0px;
  margin: 5px;
  background-repeat: no-repeat;
  background-position: left;
  text-align: right;
}
