main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

img {
  border-radius: 5px;
}

main img {
  margin: 0.5rem;
}

#info {
  color: black;
  background-color: white;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
}

h1#city {
  color: black;
  text-transform: uppercase;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0;
}

h2#location {
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  padding: 0;
  font-weight: lighter;
  font-size: smaller;
}

main div p {
  margin: 0.5rem;
}

#map {
  margin: 0.5 rem;
  padding: 0;
}
